<a href="https://colab.research.google.com/github/Mwendwa-Sharon/RetailStoreAnalysis/blob/main/Retail_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- This is an analysis for an online store in preparation for a meeting with the CEO and CMO.

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_excel("drive/MyDrive/TATA DATAVISUALIZATION/Online Retail.xlsx")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [ ]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
# the column CustomerID has so many missing values and since it might not be useful in our analysis
df.drop(columns=['CustomerID'], inplace = True)

In [10]:
#Dropping missing values in the Description column
df.dropna(subset = ['Description'], inplace = True)

In [8]:
df.duplicated().any()

True

In [9]:
df.drop_duplicates(inplace = True)

- The following are the anticipated questions that the CEO and CMO will ask:
**CEO QUESTIONS**
1. Which regions are generating the highest and the lowest revenue? 

This will help the CEO decide how to increase revenue in the lower revenue generating region and the factors leading to the lower sales. The CEO will also be able to decide ways to further the revenue in the high revenue generating areas.
2. What is monthly trend in the revenue generation?

Understanding the months when there was increase and descrease in the revenue will help the CEO understand how the internal factors such as delays or introduction of a new product affect revenue.
3. Is there a seasonality in sales?

This will help the CEO understand when there's greater demand of products due to seasonality. This will help in identifying the best strategies for maximum revenue.
4. What are the top-selling and down-selling products in the store?

This will help the CEO make informed decisions about the pricing, inventory management system and marketing strategies.
5. Who are the top customers and how much do they contribute to the total revenue?

This will help the CEO know if the business is dependent on these customers and how to diversify the customer base.

**CMO QUESTIONS**
1. Which product categories have the highest sales, and which categories need more attention based on sales data?

The answers to this question will help the CMO know the best marketing strategies
2. Are customers repeating their orders? If yes are they ordering the same or different products?

This will help the CMO know the trends in customer orders. This will consequently help the CMO know the best marketing strategies.
3. How much revenue is generated from the regular buyers?

This will help the CMO come up with ways to encourage the buyers to make big purchases.
4. How much time does it take before customers make a repeat order?

This will help the CMO come up with a strategy to make recent customers make new orders.